# Global
.*.swp
.DS_Store

# Application
vendor/

# PHPStorm
.idea/

# Netbeans
nbproject/
/nbproject/
/nbproject/private/
/nbproject/private/private.properties

# SSL Certs
etc/ssl/

# som other data lke db
data/
etc/